<?xml version="1.0"?>
<ruleset name="Cart Rules for WooCommerce">
	<description>WordPress + WooCommerce coding standards.</description>

	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/.kilo/*</exclude-pattern>
	<exclude-pattern>/dist/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<arg value="sp"/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="minimum_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress"/>
	<rule ref="WooCommerce-Core"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="cart-rules-for-woocommerce"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="crfw"/>
				<element value="CRFW"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false"/>
		</properties>
	</rule>
</ruleset>
